---
import BaseLayout from "@/src/layouts/BaseLayout.astro";

const title = "Hi This Is Fjorn";
const description = "Hi This Is Fjorn";
---

<BaseLayout title={title} description={description}>
  <h1>Hi This Is Fjorn</h1>
</BaseLayout>
