---
---

<div>
  <p>
    Here are a few fun facts about this polypodiopsida:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Deft.</strong>
      One might say I do things <i>Deftly</i>
    </li>
    <li>
      <strong>Engineer.</strong>
      I generally enjoy making computers go brrr
    </li>
    <li>
      <strong>Emo.</strong> 
      MCR will never go out of style
    </li>
    <li>
      <strong>Zealous.</strong>
      Strong opinions held with moderate force
    </li>
    <li>
      <strong>Nerdy.</strong>
      I, unfortunately, love league of legends
    </li>
    <li>
      <strong>Urbanite.</strong>
      My aesthetic is r/fuckcars 
    </li>
    <li>
      <strong>Thriving.</strong>
      Having time to setup this blog bodes well for me
    </li>
    <li>
      <strong>Zesty.</strong>
      Big fan of citrus
    </li>
  </ul>
</div>
