---
export interface Props {
  showPoweredBy?: boolean;
}

const { showPoweredBy = false } = Astro.props;
---

<footer class="mt-10 py-[25px] text-center">
  <span id="footer-directive">
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20x='-.1em'%20y='.95em'%20font-size='85'%3E🌿%3C/text%3E%3C/svg%3E"
    />
  </span>

  {
    showPoweredBy && (
      <span>
        Powered by{" "}
        <a
          href="https://astro.build"
          class="text-foreground border-accent hover:bg-accent hover:text-accent-foreground border-b-[3px] font-mono no-underline transition-colors"
        >
          Astro
        </a>
      </span>
    )
  }
</footer>
